<div class="container chatroom">
  <% if @chatroom.event.present? %>
    <h2><%= @chatroom.event.title %></h2>
  <% else %>
    <h2>Chat with <%= @chatroom.participants.where.not(id: current_user.id).first.username %></h2>
  <% end %>
  <div class="chatroom-container"
    data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/messages", message: message %>
  <% end %>
  </div>
  <div class="box-message">
    <%= render "messages/new", chatroom: @chatroom %>
  </div>
</div>
