<h2>Notifications</h2>

<% current_user.notifications.order(created_at: :desc).limit(40).each do |notification| %>
  <div class="notification">
    <% if notification.user.photo.attached? %>
      <%= link_to image_tag( url_for(notification.user.photo),class: "avatar") %>
    <% else %>
      <%= link_to image_tag("default_avatar.jpg", class: "avatar" ) %>
    <% end %>
    <div class="notification-content">
      <% if notification.read == false %>
        <i class="fa-solid fa-circle" style="color: #EE9C22;"></i>
      <% end %>
      <p><small><%= notification.created_at.strftime("%e %h %H:%M") %></small></p>
      <% if notification.notifiable.is_a?(Message) %>
        <p><%= link_to notification.content, chatroom_path(notification.notifiable.chatroom) %></p>
      <% elsif notification.notifiable.is_a?(User) %>
        <p><%= notification.content %></p>
      <% elsif notification.notifiable.is_a?(Event) %>
        <p><%= link_to notification.content, event_path(notification.notifiable) %></p>
      <% end %>
    </div>
  </div>
<% end %>
