<div class="container">
  <%= form_with(url: users_path, method: "get", local: true, class: "search-form-control form-group") do |form| %>
    <%= form.text_field :query, class: "form-control string required", id: "search_query", placeholder: "Search User by username/location" %>
    <%= form.button type: "submit", class: "btn btn-flat" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>

  <div class="cards">
    <% if @no_results %>
      <p>No results found.</p>
    <% else %>
      <% @users.each do |user|%>
        <% unless user == current_user %>
          <a href="<%= user_path(user) %>">
              <div class="card-grid user-card-grid">
                <% if user.photo.key %>
                  <%= cl_image_tag user.photo.key, crop: :fill, class:"events-image" %>
                <% else %>
                  <%= image_tag "TT_Logo.png" %>
                <% end %>
                <div class="event-descriptions">
                  <div class="description-column">
                    <div class="row">
                      <h2 class="title"><%= user.username %></h2>
                      <h2 class="listing"><%= user.age %> years old</h2>
                      <div class="icon-right"><h2 class="listing"> <i class="fa-sharp fa-solid fa-location-dot" style="color: #ffffff;"></i> <%= user.location %></h2></div>
                    </div>
                  </div>
                </div>
              </div>
            <br>
          </a>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
