<div class="container-event-show">
  <div class="card-grid">
      <% if @user.photo.key %>
        <%= cl_image_tag @user.photo.key %>
      <% end %>
    <div class="event-descriptions">
      <div class="description-column">
        <div class="row">
          <h2 class="title"> <%= @user.username %></h2>
          <h2 class="listing"> <%= @user.age %> years old</h2>
          <h2 class="listing"> <%= @user.description %></h2>
          <div class="icon-right"><h2 class="listing"><i class="fa-sharp fa-solid fa-location-dot" style="color: #ffffff;"></i> <%= @user.location %></h2></div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-button-container">
    <button>Chat with <%= @user.username %></button>
  </div>
</div>
