<div class="container">
  <div class="card-grid">
    <% if @user.photo.key %>
      <%= cl_image_tag @user.photo.key %>
    <% end %>
    <div class="event-descriptions">
      <div class="description-column">
        <div class="row">
          <h2 class="title"> <%= @user.username %></h2>
          <h2 class="listing"> <%= @user.age %> years old</h2>
          <h2 class="listing"> <%= @user.description %></h2>
          <div class="icon-right"><h2 class="listing"><i class="fa-sharp fa-solid fa-location-dot" style="color: #ffffff;"></i> <%= @user.location %></h2></div>
        </div>
      </div>
    </div>
  </div>

<div class="container-join-event">
  <% if @existing_chatroom %>
    <%= link_to "Go to Chat", chatroom_path(@existing_chatroom), class: "button" %>
  <% else %>
    <%= simple_form_for Chatroom.new, url: chatrooms_path, method: :post do |form| %>
      <%= form.input :user_id, as: :hidden, input_html: { value: @user.id } %>
        <%= form.button :submit, "Chat with #{@user.username}",
                        class: "button",
                        data: { disable_with: 'Creating chatroom...' } %>
    <% end %>
  <% end %>
  </div>
</div>
