<div class="form-container">
<%= simple_form_for(event) do |f| %>
  <%= f.input :location %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple:true, required:false }%>
  <%= f.submit %>
<% end %>
</div>
