<div class="container">
  <%= form_with(url: events_path, method: "get", local: true, class: "search-form-control form-group") do |form| %>
    <%= form.text_field :query, class: "form-control string required", id: "search_query", placeholder: "Search Event by name/location" %>
    <%= form.button type: "submit", class: "btn btn-flat" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>

  <div data-controller="toggle" class="mt-5">
    <div class="toggle-map" data-action="click->toggle#fire">
      <i class="fa-solid fa-map-location-dot" style="color: #0b7176;"></i>
      <p data-toggle-target="text"></p>
    </div>
    <div data-toggle-target="togglableElement" class="d-none">
      <%= render "events_map", events: @event %>
    </div>
  </div>

  <% if @no_results %>
    <p>No results found.</p>
  <% else %>
    <% @events.each do |event|%>
    <a href="<%= event_path(event) %>">
      <div class="card-grid">
        <% if event.photo.key %>
          <%= cl_image_tag event.photo.key, crop: :fill, class:"events-image" %>
        <% else %>
          <%= image_tag "TT_Logo.png" %>
        <% end %>
        <div class="event-descriptions">
          <div class="description-column">
            <div class="row">
              <h2 class="title"><%= event.title %></h2>
                  <% if event.start_date != event.end_date %>
                    <h2 class="listing"><%= event.start_date %> to <%= event.end_date %></h2>
                  <% else %>
                    <h2 class="listing"><%= event.start_date %></h2>
                  <% end %>
              <h2 class="listing"> <i class="fa-sharp fa-solid fa-location-dot" style="color: #ffffff;"></i> <%= event.location %></h2>
              <div class="icon-right"><h2 class="listing"> <i class="fa-solid fa-user" style="color: #ffffff;"></i> <%= event.capacity %></h2></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      </a>
    <% end %>
  <% end %>
</div>
