<div class="container-event-show">
  <%= form_with(url: events_path, method: "get", local: true, class: "search-form-control form-group") do |form| %>
    <%= form.text_field :query, class: "form-control string required", id: "search_query", placeholder: "Search Event by name/location..." %>
    <%= form.button type: "submit", class: "btn btn-flat" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>

  <div data-controller="toggle" class="mt-5">
    <div class="toggle-map" data-action="click->toggle#fire">
      <i class="fa-solid fa-map-location-dot" style="color: #0b7176;"></i>
      <p data-toggle-target="text">Show on map</p>
    </div>
    <div data-toggle-target="togglableElement" class="d-none">
      <%= render "events_map", events: @event %>
    </div>
  </div>

  <% @events.each do |event|%>
  <a href="<%= event_path(event) %>">
    <div class="card-grid">
      <% if event.photo.key %>
        <%= cl_image_tag event.photo.key, crop: :fill, class:"events-image" %>
      <% else %>
        <%= image_tag "TT_Logo.png" %>
      <% end %>
      <div class="event-descriptions">
        <div class="description-column">
          <div class="row">
            <h2 class="title"><%= event.title %></h2>
            <h2 class="listing"><%= event.description %></h2>
            <h2 class="listing">Location: <%= event.location %></h2>
            <h2 class="listing">Start at: <%= event.start_date %></h2>
            <h2 class="listing">Ends at: <%= event.end_date %></h2>
            <h2 class="listing">Capacity: <%= event.capacity %></h2>
          </div>
        </div>
      </div>
    </div>
    <br>
    </a>
  <% end %>
</div>
