<%= form_with(url: events_path, method: "get", local: true, class: "search-form-control form-group") do |form| %>
  <%= form.text_field :query, class: "form-control string required", id: "search_query", placeholder: "Search Event by name/location..." %>
  <%= form.button type: "submit", class: "btn btn-flat" do %>
    <i class="fas fa-search"></i> Search
  <% end %>
<% end %>

<br>

<div data-controller="toggle" class="mt-5">
  <div class="toggle-map" data-action="click->toggle#fire">
    <i class="fa-solid fa-map-location-dot" style="color: #0b7176;"></i>
    <p data-toggle-target="text">Show on map</p>
  </div>
  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "events_map", events: @event %>
  </div>
</div>

<% @events.each do |event|%>
  <h2><%= event.title %></h2>
  <h2><%= event.description %></h2>
  <h2><%= event.location %></h2>
  <h2><%= event.start_date %></h2>
  <h2><%= event.end_date %></h2>
  <h2><%= event.capacity %></h2>
  <% if event.photo.key %>
    <%= cl_image_tag event.photo.key, crop: :fill, class:"events-image" %>
  <% end %>
<% end %>
