<h2><%= @event.title %></h2>
<h2><%= @event.description %></h2>
<h2><%= @event.location %></h2>
<h2><%= @event.start_date %></h2>
<h2><%= @event.end_date %></h2>
<h2><%= @event.capacity %></h2>
<%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>