<h2><%= @event.title %></h2>
<h2><%= @event.description %></h2>
<h2><%= @event.location %></h2>
<h2><%= @event.start_date %></h2>
<h2><%= @event.end_date %></h2>
<h2><%= @event.capacity %></h2>

<%= button_to "Join Event" , event_requests_path(@event) %>

<%= render "map" %>

<div class="chatroom">
  <h2>Chatroom</h2>
  <%= render "messages/new", chatroom: @chatroom %>

  <div class="chat-messages">
    <% @chatroom.messages.each do |message| %>
      <p><%= message.content %></p>
    <% end %>
  </div>
</div>

<%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
