<div class="container-event-show">
  <div class="card-grid">
      <% if @event.photo.key %>
        <%= cl_image_tag @event.photo.key %>
      <% end %>
    <div class="event-descriptions">
      <div class="description-column">
        <div class="row">
          <h2 class="listing"> <%= @event.title %></h2>
          <h2 class="listing"> <%= @event.description %></h2>
        </div>
        <div class="row">
          <h2 class="listing"> <%= @event.location %></h2>
        </div>
      </div>
      <div class="description-column">
        <div class="row">
          <h2 class="listing"> <%= @event.start_date %></h2>
          <h2 class="listing"> <%= @event.end_date %></h2>
        </div>
        <div class="row">
          <h2 class="listing"> <%= @event.capacity %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<%= button_to "Join Event" , event_requests_path(@event) %>

<%= render "map" %>

<div class="chatroom">
  <h2>Chatroom</h2>
  <%= render "messages/new", chatroom: @chatroom %>

  <div class="chatroom-container"
    data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="messages" data-chatroom-subscription-target="messages">
  <% @chatroom.messages.each do |message| %>
    <%= render "messages/messages", message: message %>
  <% end %>
  </div>
</div>

<%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
