<div class="container-event-show">
  <div class="card-grid">
      <% if @event.photo.key %>
        <%= cl_image_tag @event.photo.key %>
      <% end %>
    <div class="event-descriptions">
      <div class="description-column">
        <div class="row">
          <h2 class="title"> <%= @event.title %></h2>
          <h2 class="listing"><%= @event.description %></h2>
          <h2 class="listing"><%= @event.start_date %> to <%= @event.end_date %></h2>
          <h2 class="listing"> <i class="fa-sharp fa-solid fa-location-dot" style="color: #ffffff;"></i> <%= @event.location %></h2>
          <div class="icon-right"><h2 class="listing"> <i class="fa-solid fa-user" style="color: #ffffff;"></i> <%= @event.capacity %></h2></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-join-event">
  <%= button_to "Join Event" , event_requests_path(@event), class: "button" %>

  <div class="event-links">
    <div class="chat-button-container link">
      <%= link_to "Edit Event", edit_event_path(@event) if @event.user == current_user %>
    </div>
    <div class="chat-button-container link">
      <% if @event.user == current_user %>
      <%= link_to "Delete Event", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"} %>
      <% end %>
    </div>
  </div>
</div>

<%= render "map" %>

<div class="chatroom">
  <h2>Event Chat</h2>
  <div class="chatroom-container"
    data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/messages", message: message %>
  <% end %>
  </div>
  <%= render "messages/new", chatroom: @chatroom %>
</div>
