<!DOCTYPE html>
<html>
  <head>
    <title>TravelTribe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300;400;600&family=Raleway:wght@800&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= favicon_link_tag asset_path('TT_Logo.png') %>
  </head>

  <body>
  <%= render "shared/navbar" %>
  <% if flash[:notice].present? %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert].present? %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>

  <div style="min-height: 100vh">
    <%= yield %>
  </div>
  <%= render "shared/footer" %>
  </body>
</html>
