  <div class="container-accounts">
    <div class="attending-section">
      <div class="account-event-titles">
        <h4>Attending</h4>
        <h6>View Past Events</h6>
      </div>
      <% @attending_events.each do |event| %>
        <%# Attending events with status: accepted  %>
        <% if event.start_date >= Date.today && event.requests.exists?(status: "accepted") %>
          <div class="attending-accepted"><%= link_to event.title, event_url(event) %></div>
        <% end %>
        <%# Attending events with status: accepted  %>
        <% if event.start_date >= Date.today && event.requests.exists?(status: "pending") %>
          <div class="attending-pending"><%= link_to event.title, event_url(event) %> <p>Pending Approval</p> </div>
        <% end %>
      <% end %>
    </div>

    <div class="hosting-section">
      <div class="account-event-titles">
        <h4>Hosting</h4>
        <h6>View Past Events</h6>
      </div>
       <% @created_events.each do |event| %>
        <div class="hosting-events"><%= link_to event.title, event_url(event) %>
        <%# All the requests for each event %>
          <% if @received_requests %>
            <% @received_requests.where(event_id: event).each do |request| %>
            <div class="hosting-events-request">
              <%= request.user.username %> has requested to join the event.
              <%# Accept request link  %>
              <%= link_to accept_path(request), data: { turbo_method: :patch } do %>
                <i class="fa-sharp fa-regular fa-circle-check" style="color: #00bd16;"></i>
              <% end %>
              <%# Reject request link  %>
              <%= link_to reject_path(request), data: { turbo_method: :patch } do %>
                <i class="fa-sharp fa-regular fa-circle-xmark" style="color: #f50000;"></i>
              <% end %>
            </div>
            <% end %>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
