  <h2>My Dashboard</h2>
  <h3>Welcome <%= current_user.username %> :)</h3>

  <div class="container">
      <div class="section" data-controller="toggle">
      <h4 data-action="click->toggle#display">Attending Events</h4>
      <div class="subsection d-none" data-toggle-target="togglableElement">
      <div class="subsection">
        <h5>Upcoming Events</h5>
        <% @events.each do |event| %>
          <% if event.start_date >= Date.today && event.requests.exists?(status: "accepted") %>
            <p><%= link_to event.title, event_url(event) %></p>
          <% end %>
        <% end %>
      </div>
      <div class="subsection">
        <h5>Pending Attending requests</h5>
        <% @events.each do |event| %>
          <% if event.start_date >= Date.today && event.requests.exists?(status: "pending")%>
            <p><%= link_to event.title, event_url(event) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>

    <div class="section" data-controller="toggle">
      <h4 data-action="click->toggle#display">My Events</h4>
      <div class="subsection d-none" data-toggle-target="togglableElement">
      <div class="subsection">
        <h5>Upcoming Events</h5>
        <% current_user.events.each do |event| %>
          <% if event.start_date >= Date.today %>
            <p><%= link_to event.title, event_url(event) %></p>
          <% end %>
        <% end %>
      </div>
      <div class="subsection">
        <h5>Past Events</h5>
        <% current_user.events.each do |event| %>
          <% if event.start_date < Date.today %>
            <p><%= link_to event.title, event_url(event) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>

    <div class="section" data-controller="toggle">
      <h4 data-action="click->toggle#display">Pending Requests</h4>
      <div class="subsection d-none" data-toggle-target="togglableElement">
      <div class="notifications">
        <% current_user.requests.each do |request| %>
          <% if request.status == "pending" %>
            <div class="notifications-item">
              <div class="notifications-content">
                <p>Event: <%= request.event.title %> | Requester: <%= request.user.username %></p>
              </div>
              <div class="notifications-actions">
                <%= link_to accept_path(request), data: {turbo_method: :patch} do %>
                  <i class="fa-sharp fa-regular fa-circle-check" style="color: #00bd16;"></i>
                <% end %>
                <%= link_to reject_path(request), data: {turbo_method: :patch} do %>
                  <i class="fa-sharp fa-regular fa-circle-xmark" style="color: #f50000;"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>

    <div class="section" data-controller="toggle">
      <h4 data-action="click->toggle#display">My Messages</h4>
      <div data-toggle-target="togglableElement" class="subsection d-none"></div>
    </div>

    <div class="section" data-controller="toggle">
      <h4 data-action="click->toggle#display">Customer Support</h4>
      <div data-toggle-target="togglableElement" class="subsection d-none">
      <h4>Welcome to TravelTribe's Customer Support. We are here to assist you and ensure that your experience with our services is smooth and enjoyable. Our dedicated support team is ready to address your questions, concerns, and provide solutions to your issues.
        Contact Information:
        Phone Support: If you prefer speaking with one of our support representatives, you can reach us at +44 20 7123 4567. Our support hours are 09:00 to 17:00 daily.
        Email Support: For non-urgent inquiries or if you need assistance outside of our operating hours, you can email us at support@traveltribe.com . We strive to respond within 72h.
        </h4>
      </div>
    </div>
  </div>
